<div class="main-text article-link my-2 py-2">
    <div class="container grid grid-1">
        <div>
          <h1><%= "::\n #{@article.title}" %></h1>
        </div>
        <div>
          <%= @article.body %>
        </div>
    </div>
</div>
