<div class="main-text my-2 py-2">
    <div class="container grid grid-1">
        <div>
            <h1 class="lg">code :: anth writings</h1><br>
            <div>
            <%= "#{@user.username} successfully signed in!" %>
            </div>
        </div>
    </div>
</div>