<!-- Footer -->
<footer class="footer bg-dark py-5">
    <div class="container grid grid-3 text-center">
        <div>
        <a href="/home"><h1>code :: anth</h1></a>
        <p>copyleft - 2022</p>
        </div>
        <nav>
            <ul>
                <li><a href="/home">home</a></li>
                <li><a href="/writings">writings</a></li>
                <li><a href="/writings">events</a></li>
                <li><a href="/readings">readings</a></li>
                <li><a href="/contact">contact</a></li>
             </ul>
        </nav>    

        <div class="social">
            <a href="https://twitter.com/anthrolanguage"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
    </div>
</footer>
