<!-- Footer -->
<footer class="footer bg-dark py-5">
    <div class="container grid grid-3 text-center">
        <div>
        <a href="index.html"><h1>code :: anth</h1></a>
        <p>copyleft - 2022</p>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">home</a></li>
                <li><a href="about_us.html">writings</a></li>
                <li><a href="join_us.html">readings</a></li>
                <li><a href="events.html">contact</a></li>
             </ul>
        </nav>    

        <div class="social">
            <a href="https://twitter.com/anthrolanguage"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
    </div>
</footer>
