<section class="hero">

    <!-- Navbar -->

    <section class="navbar">
        <div class="navbar">
            <div class="container flex">
                <nav>
                    <ul>
                        <li><a href="/home">home</a></li>
                        <li><a href="about_us.html">writings</a></li>
                        <li><a href="join_us.html">readings</a></li>
                        <li><a href="events.html">contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <!-- Welcome -->

    <section class="welcome">
        <div class="container grid grid-1">
            <div class="welcome-text">
                <h1>CODE :: ANTH</h1>
                <br>
                <h1>anthropology with programmers in it</h1><br>
            </div>
        </div>
    </section>
</section>
