<section class="hero">

<!-- Navbar -->

<section class="navbar">
    <div class="navbar">
        <div class="container flex">
            <nav>
                <ul>
                    <li><a href="index.html">Code :: Anth</a></li>
                    <li><a href="about_us.html">Blog Posts</a></li>
                    <li><a href="join_us.html">Reading Group</a></li>
                    <li><a href="events.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section> 

<!-- Welcome -->

<section class="welcome">
    <div class="container grid grid-1">
        <div class="welcome-text">
            <h1>CODE ANTH</h1>
            <h1>anthropology with programmers in it</h1><br>
        </div>
    </div>
</section>
</section>
