a<header>
  <!-- First hero-container -->
  <div class="hero-container hero-container_solid">
    <div class="title_wrapper">
      <h1>CODE :: ANTH</h1>
      <br>
      <h1>anthropology with programmers in it</h1><br>
    </div>
  </div>

  <!-- Second hero-container -->
  <div class="hero-container hero-container_image" aria-hidden="true">
    <div class="title_wrapper">
      <h1>CODE :: ANTH</h1>
      <br>
      <h1>anthropology with programmers in it</h1><br>
    </div>
  </div>

</header>

<!-- Main -->
<div class="main-text bg-light my-2 py-2">
    <div class="container grid grid-1">
        <div class="text-center">
            <h2 class="lg">code :: anth</h2><br>
            <h2 class="md text-center">code::anth is an attempt to combine coding and anthropology</h2>
            <h2 class="md text-center">making software, researching people</h2>
            <h2 class="md text-center">what could the intersection between them be?</h2>
            <h2 class="md text-center">that's what we are trying to find out</h2>
            <h2 class="md text-center">you are welcome to be a part of it</h2>
        </div>
        <%= image_tag 'intersection.jpg' %>
        <div class="text-center">
            <h2 class="md text-center">code::anth is about programming, writing, and experimenting</h2>
            <h2 class="md text-center">within and across the limits and boundaries of computational culture</h2>
        </div>
    </div>
</div>

<!-- Photo Buttons -->

<section class="photo-buttons bg-dark text-center my-2">
    <div class="container flex">
        <a href="/writings">
            <div class="card">
                <h2>stuff that we've written</h2>
                <h2>about ruby culture</h2>
            </div>
        </a>
        <a href="/events">
            <div class="card">
                <h2>workshops and events</h2>
                <h2>that we've organized</h2>
            </div>
        </a>
        <a href="https://www.ucl.ac.uk/anthropology/people/guilherme-orlandini-heurich">
            <div class="card">
                <h2>gui heurich started and</h2>
                <h2>currently leads the project</h2>
            </div>
        </a>
        <a href="https://www.ruby-lang.org/en/">
            <div class="card">
                <h2>code::anth currently focuses<h2>
                <h2>on a language called ruby</h2>
            </div>
        </a>
        <a href="readings/index">
            <div class="card">
                <h2>we read things before</h2>
                <h2>we might read again</h2>
            </div>
        </a>
        <a href="contact/index">
            <div class="card">
                <h2>interested?</h2>
                <h2>get in touch!</h2>
            </div>
        </a>
    </div>
</section>