<!-- Main -->
<div class="main-text bg-light my-2 py-2">
    <div class="container grid grid-1">
        <div class="text-center">
            <h2 class="lg">code :: anth</h2><br>
            <h2 class="md text-center p-2">code::anth is an attempt to combine coding and anthropology.</h2>
            <h2 class="md text-center p-2">making software, researching people</h2>
            <h2 class="md text-center p-2">what could the intersection between them be?</h2>
            <h2 class="md text-center p-2">that's what we are trying to find out</h2>
            <h2 class="md text-center p-2">you are welcome to be a part of it</h2>
        </div>
    </div>
</div>

<!-- Photo Buttons -->

<section class="photo-buttons bg-dark text-center my-2">
    <div class="container flex">
        <a href="https://www.ucl.ac.uk/anthropology/people/guilherme-orlandini-heurich">
            <div class="card">
                <h2>gui heurich started </h2>
                <h2>and currently leads the project</h2>
            </div>
        </a>
        <a href="https://www.ruby-lang.org/en/">
            <div class="card">
                <h2>code::anth currently focuses on the ruby community<h2>
                <h2>ruby was created by Matz in Japan in 1993</h2>
            </div>
        </a>
        <a href="readings/index">
            <div class="card">
                <h2>we've had a busy reading group in 2020/2021</h2>
                <h2>you're welcome to join the next one in 2022 </h2>
            </div>
        </a>
        <a href="contact/index">
            <div class="card">
                <h2>are you a Ruby dev? get in touch!</h2>
            </div>
        </a>
    </div>
</section>