<!-- Main -->
<div class="main-text my-2 py-2">
    <div class="container grid grid-1">
        <div>
            <h1 class="lg">code :: anth events</h1><br>
            <div>
              <h2>Coding Cultures: Five Different Communities<h2>
            </div>
            <div>
              <p>University College London's 2021 Festival of Code</a><p>
              <p>Ruby, Fortran, R, Julia, and Python.</p>
              <p>Five developers discuss the similarities and differences between coding communities.</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/I-L3VMnV_Y0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <br>
                        <div>
              <h2>Experiments at the Borders of Computational Cultures<h2>
            </div>
            <div>
              <p>In this <a href="https://www.ucl.ac.uk/anthropology/research/centre-digital-anthropology/research/activities/experiments-borders-computational-cultures">series of conversations,</a><p>
              <p>we asked programmers, artists, anthropologists, and media scholars</p>
              <p>to explore the sociocultural and aesthetic limits of programming languages and computational media</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/_GV_s6ChOsI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>              <p>(More videos from the workshop <a href="https://www.ucl.ac.uk/anthropology/research/centre-digital-anthropology/research/activities/experiments-borders-computational-cultures">here)</a></p>
            </div>
        </div>
    </div>
</div>