<!-- Main -->
<div class="main-text my-2 py-2">
    <div class="container grid grid-1">
        <div>
            <h1 class="lg">contact code :: anth</h1><br>
            <div>
              <%= render "form" %>
            </div>
        </div>
    </div>
</div>