/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #b7c1de;
    --secondary-color: #B8007A;
    --dark-color: #092047;
    --light-color: #7D99D1;
    --light-color-2: #d6dae9;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color:#d6dae9;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
    font-size: 1.2em;
}

img {
    width: 100%;
}

.hidden {
    visibility: hidden;
    height: 0px;
}

/*Hero*/

.hero {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.5) 100%), url("hero.jpg");
    background-size: cover;
    color: white;
    position: relative;
    height: 960px;
    background-repeat: no-repeat;
}

/* Navbar*/

.navbar {
    height: 80px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: var(--primary-color);
    font-size: 1.2em;
    padding: 10px;
    margin: 0 5px;
    display: block;
    font-weight: 600;
    
}

.navbar a:hover {
    border-bottom: 0.1px #fff solid;
}

.navbar .flex {
    justify-content: space-between;
    overflow: visible;
    justify-content: center;
}

.navbar .icon {
    display: none;
}

/* Welcome */

.welcome {
    height: 960px;
    color: var(--primary-color);
    position: relative;
    font-weight: 100;
}

.welcome h1 {
    font-size: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.welcome p {
    margin: 20px 0;
    padding-left: 10px;
    padding-right: 10px;
}

.welcome .grid {
    text-align: center;
    gap: 30px;
    overflow: visible;
}

/* Main Text */

.main-text .grid {
    grid-template-columns: 1fr;
    gap: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-text h2 {
    color: var(--dark-color);
}

.main-text .image {
    border-radius: 10%;
    overflow: hidden;
}

/* Photo Buttons */

.photo-buttons .container {
    padding-bottom: 50px;
    padding-top: 50px;
}

.photo-buttons img {
    height: 300px;
    justify-self: flex-end;
    border-radius: 5%;
    overflow: hidden;
}
 
.photo-buttons .flex {
    flex-wrap: wrap;
}

.photo-buttons .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.photo-buttons .card h4 {
    color: var(--dark-color);
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.photo-buttons .card:hover {
    transform: translateY(-15px);
}

/* Footer */

.footer .social a {
    margin: 0 10px;
    justify-content: center;
}

/* Tablets and under */
@media (max-width: 768px) {
    .grid,
    .welcome .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .welcome {
        height: auto;
    }

    .welcome-text {
        text-align: center;
        margin-top: 40px;
    }

    .welcome-form {
        justify-self: center;
        margin: auto;
    }
}

/* Mobile */

@media (max-width: 500px) {
    .navbar {
        display: none;
    }

    .footer .container {
        text-align: center;
    }

    .footer .social {
        padding-top: 20px;
    }

    .welcome h1{
        font-size: 30px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 0px;
    }

    .photo-buttons img {
        height: 200px;
        justify-self: flex-end;
        border-radius: 5%;
        overflow: hidden;
    }

    .hero {
        height: 480px;
    }

    .welcome {
        height: 480px;
    }
}