/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require 'actiontext.css'
 */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: white;
    --secondary-color: #B8007A;
    --dark-color: #020b1b;
    --light-color: white;
    --light-color-2: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color:white;
}

ul {
    list-style-type: none;
}

a {
    color: var(--dark-color);
    text-decoration: underline;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
    font-size: 1.2em;
}

img {
    width: 100%;
}

.hidden {
    visibility: hidden;
    height: 0px;
}

/*Hero*/

header {
    height: 200vh;
  }
  
.hero-container {
    /* hide fixed overflow contents */
    clip: rect(0, auto, auto, 0);

    /* does not work if overflow = visible */
    overflow: hidden;

    /* only works with absolute positioning */
    position: absolute;

    /* Make sure hero-containers are full-width and height */
    height: 100vh;
    left: 0;
    width: 100%;


    /* safari hack */
    -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);   
}

.hero-container_solid {
    background: white;

    /* position this hero-container at the top of its parent element */
    top: 0;
}

.title_wrapper {
    position: fixed;
    display: block;  
    margin: auto;
    width: 100%;
    /* center the text wrapper vertically */
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.title_wrapper h1 {
    text-align: center;
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.hero-container_solid .title_wrapper h1 {
    /* the text background */
    background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.5) 100%), url("hero.jpg");
    background-size: 100vw auto;
    background-position: center;

    /* clip the text is possible */
    scrollbar-color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

    /* fallback text color */
    color: black;
}

.hero-container_image {
    /* Grab a free image from unsplash */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.5) 80%), url("hero.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    /* position the second hero-container below the first hero-container */
    top: 100vh;
}

.hero-container_image .title_wrapper h1 {
    color: var(--light-color-2)
}

.hero {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.5) 100%), url("hero.jpg");
    background-size: cover;
    color: white;
    position: relative;
    height: 960px;
    background-repeat: no-repeat;
}

/* Navbar*/

.navbar {
    height: 80px;
    position: fixed;
    top: 0px;
    width: 100%;
    display: none;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: var(--primary-color);
    font-size: 1.2em;
    padding: 10px;
    margin: 0 5px;
    display: block;
    font-weight: 600;
    
}

.navbar a:hover {
    border-bottom: 0.1px #fff solid;
}

.navbar .flex {
    justify-content: space-between;
    overflow: visible;
    justify-content: center;
}

.navbar .icon {
    display: none;
}

/* Welcome */

.welcome {
    height: 960px;
    color: var(--primary-color);
    position: relative;
    font-weight: 100;
}

.welcome h1 {
    font-size: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.welcome p {
    margin: 20px 0;
    padding-left: 10px;
    padding-right: 10px;
}

.welcome .grid {
    text-align: center;
    gap: 30px;
    overflow: visible;
}

/* Main Text */

.main-text .grid {
    grid-template-columns: 1fr;
    gap: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-text h2 {
    color: var(--dark-color);
}

.main-text .image {
    border-radius: 10%;
    overflow: hidden;
}

/* Photo Buttons */

.photo-buttons .container {
    padding-bottom: 50px;
    padding-top: 50px;
}

.photo-buttons img {
    height: 300px;
    justify-self: flex-end;
    border-radius: 5%;
    overflow: hidden;
}
 
.photo-buttons .flex {
    flex-wrap: wrap;
}

.photo-buttons .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.photo-buttons .card h4 {
    color: var(--dark-color);
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.photo-buttons .card:hover {
    transform: translateY(-15px);
}

.article-form {
    text-align: justify;
}

.events h2 {
    font-weight: 900;
}

/* Footer */

.footer .social a {
    margin: 0 10px;
    justify-content: center;
}

/* Tablets and under */
@media (max-width: 768px) {
    .grid,
    .welcome .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .welcome {
        height: auto;
    }

    .welcome-text {
        text-align: center;
        margin-top: 40px;
    }

    .welcome-form {
        justify-self: center;
        margin: auto;
    }
}

/* Mobile */

@media (max-width: 500px) {
    .footer .container {
        text-align: center;
    }

    .footer .social {
        padding-top: 20px;
    }

    .photo-buttons img {
        height: 200px;
        justify-self: flex-end;
        border-radius: 5%;
        overflow: hidden;
    }

    .hero {
        height: 480px;
    }

    .welcome {
        height: 480px;
    }

    .title_wrapper h1 {
        font-size: 28px;
    }

    .lg {
        font-size: 2.4rem;
        font-weight: 400;
    }

    .md {
        font-size: 1.6rem;
    }
}